<<%= _tag %> class="<%= _class %>" data-model_name="<%= _model_name %>" data-model_id="<%= _model_id %>" data-model_method="<%= _model_method %>" data-display_error="<%= _display_error %>" ><%= _placeholder %></<%= _tag %>>
