<button onclick="history.go(0);">refresh</button>

<p>SUCCESS: <%= fetch_async(model_name: "Hickwall", model_id: 1 , model_method: "test_method", display_error: true) %></p>

<p>FAILED: <%= fetch_async(model_name: "Hickwall", model_id: 1 , model_method: "failing", tag: "span", display_error: true) %></p>

<p>FAILED: <%= fetch_async(model_name: "Hickwall", model_id: 9999 , model_method: "test_method", tag: "span", display_error: true) %></p>

<p>SUCCESS: <%= fetch_async(model_name: "Hickwall", model_id: 1 , model_method: "last_squawk", tag: "span", display_error: true) %></p>

<p>SUCCESS: <%= fetch_async(model_name: "Wickwall", model_id: 1 , model_method: "plop", tag: "span", display_error: true) %></p>

<p>FAILED: <%= fetch_async(model_name: "Wickwall", model_id: 90 , model_method: "plop", tag: "span", display_error: true) %></p>

<p>SUCCESS (long): <%= fetch_async(model_name: "Wickwall", model_id: 1 , model_method: "long_time", tag: "span", display_error: true) %></p>
